.line {
  display: table-row;
  flex-direction: column;
  align-items: center;
  /* display: ruby; */
  color: white;
}

.counterContainer {
  display: table;
  margin: 10px auto;
}

.description {
  font-size:3vw;
}

.time {
  font-size:15vw;
}

.middle-screen {
  margin-top: calc(45vh - 10vw)
}

@media only screen and (max-width: 1080px) {
  .description {
    font-size:5vw;
  }

  .time {
    font-size:18vw;
  }

  .middle-screen {
    margin-top: calc(45vh - 13vw)
  }
}

@media only screen and (max-width: 768px) {
  .description {
    font-size:6vw;
  }

  .time {
    font-size:22vw;
  }

  .middle-screen {
    margin-top: calc(45vh - 16vw)
  }
}

.content {
  display: table-cell;
  padding-right: 1vw;
  /* position: absolute; */
}
